<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Free 1000+ Unicode Based Taml Fonts</title>
    <meta name="title" content="Free 1000+ Unicode Based Taml Fonts">
    <meta name="description" content="Download / Live Preview All Tamil Fonts That Works With Adobe Premier Pro / Photoshop">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fonts.svarun.dev/">
    <meta property="og:title" content="Free 1000+ Unicode Based Taml Fonts">
    <meta property="og:description" content="Download / Live Preview All Tamil Fonts That Works With Adobe Premier Pro / Photoshop">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://fonts.svarun.dev/">
    <meta property="twitter:title" content="Free 1000+ Unicode Based Taml Fonts">
    <meta property="twitter:description" content="Download / Live Preview All Tamil Fonts That Works With Adobe Premier Pro / Photoshop">
    <meta property="twitter:image" content="">

    <link rel="stylesheet" href="static/css/semantic.min.css">
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <nav class="ui top fixed huge menu">
        <div class="item"> <h4>Tamil Fonts</h4></div>
        <div class="item">
        <div class="ui icon input"> <input type="text" placeholder="Sample Text" id="input" value="வணக்கம் / Hello"> <i class="pencil alternate icon"></i> </div>
        </div>
        <div class="item">
            <div class="ui icon input"> <input type="number" placeholder="Font Size" id="preview-font-size" value="25"><i class="font icon"></i></div>
        </div>
        <div class="right menu">
            <div class="item"><p id="showings"></p> </div>
        </div>
    </nav>

    <main class="main-content" style="margin-top: 100px;">
        <div class="ui container" style="width: 96% !important;margin-left: 40px !important;margin-right: 60px !important;">
           <!-- <div class="ui stackable three column grid">
                <div class="column">
                    <div class="ui icon fluid input">
                        <input type="text" placeholder="Sample Text" id="input" value="வணக்கம் / Hello">
                        <i class="pencil alternate icon"></i>
                    </div>
                </div>
                <div class="column">
                    <div class="ui icon fluid input">
                        <input type="number" placeholder="Font Size" id="preview-font-size" value="25">
                        <i class="font icon"></i>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid floating labeled icon dropdown button">
                        <i class="font icon"></i>
                        <span class="text">All Category</span>
                        <div class="menu">{{CATEGORY_HTML}}</div>
                    </div>
                </div>
            </div> -->
            <div class="ui stackable four column grid" id="fontslist"> {{HTML}} </div>
        </div>
    </main>


    <script src="static/js/jquery-3.6.0.slim.min.js"></script>
    <script src="static/js/semantic.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>